<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Notification Generator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <main>
            <h1>Notification Generator</h1>
            <div id="app">
                <div class="halfBox">
                    <div class="half">
                        <h2>Form</h2>
                        <form id="notifForm" v-on:submit.prevent>
                            <div>
                                <fieldset>
                                    <legend>Notification Type:</legend>
                                    <div>
                                        <input type="radio" id="initialapp" value="initialapp" v-model="notifCategory">
                                        <label for="initialapp">Initial Application</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="newdocs" value="newdocs" v-model="notifCategory">
                                        <label for="newdocs">Need New Documents</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="documents" value="documents" v-model="notifCategory">
                                        <label for="documents">Missing Documents</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="payment" value="payment" v-model="notifCategory">
                                        <label for="payment">Missing Payment</label>
                                    </div>
                                </fieldset>
                            </div>
                            <!-- GLOBAL FORM SECTION-->
                            <section id="sectionGlobal">
                                <fieldset>
                                    <legend>Client Info</legend>
                                    <div>
                                        <label for="clientName">Client Name:</label>
                                        <input type="text" id="clientName" required v-model="clientName">
                                    </div>
                                    <div>
                                        <fieldset>
                                            <legend>Client Gender:</legend>
                                            <div>
                                                <input checked type="radio" id="female" value="chị" v-model="clientGender">
                                                <label for="female">Female</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="male" value="anh" v-model="clientGender">
                                                <label for="male">Male</label>
                                            </div>
                                        </fieldset>
                                        <div>
                                            <label for="dueDate">Due Date:</label>
                                            <input type="date" id="dueDate" v-model="dueDate" required>
                                        </div>
                                    </div>
                                </fieldset>
                            </section>
                            <!-- MISSING DOCUMENTS FORM SECTION-->
                            <section v-show="notifCategory === 'newdocs'">
                                <fieldset>
                                    <legend>Family Member:</legend>
                                    <div>
                                        <label for="newdocs_name">Name:</label>
                                        <input type="text" id="newdocs_name" v-model="newdocsName"/>
                                    </div>
                                    <fieldset>
                                        <legend>Client Gender:</legend>
                                        <div>
                                            <input checked type="radio" id="member_female" value="chị" v-model="newdocsGender">
                                            <label for="member_female">Female</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="member_male" value="anh" v-model="newdocsGender">
                                            <label for="member_male">Male</label>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Documents:</legend>
                                        <div>
                                            <input type="checkbox" id="newdocs_ssn" value="ssn" v-model="newdocsSsn">
                                            <label for="newdocs_ssn">SSN - valid for work only</label>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="newdocs_income" value="ssn" v-model="newdocsIncome">
                                            <label for="newdocs_income">Income</label>
                                        </div>
                                    </fieldset>
                                </fieldset>
                            </section>
                            <section id="sectionDocs" v-show="notifCategory === 'documents' || notifCategory === 'initialapp'">
                                <div class="flex">
                                    <!--- TURN INTO TEMPLATE -->
                                    <family-member v-for="member in familyMembers" :member="member" :key="member.memberId" v-on:remove="removeFamilyMember($event)"></family-member>
                                </div>
                                <button type="button" id="addMemberButton" v-on:click="addFamilyMember">+ Add Member</button>
                            </section>
                            <!-- MISSING PAYMENT FORM SECTION-->
                            <section id="sectionPayment" v-show="notifCategory === 'payment' || notifCategory === 'initialapp'">
                                <div>
                                    <fieldset>
                                        <legend>Company:</legend>
                                        <div>
                                            <input type="radio" id="ambetter" value="Ambetter" v-model="company">
                                            <label for="ambetter">Ambetter</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="brighthealth" value="Bright Health" v-model="company">
                                            <label for="brighthealth">Bright Health</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="oscar" value="Oscar Insurance" v-model="company">
                                            <label for="oscar">Oscar</label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div>
                                    <label for="premium">Monthly Premium:</label>
                                    <input type="text" id="premium" v-model="premium" :required="notifCategory === 'payment'">
                                </div>
                                <div>
                                    <label for="total">Total Owed:</label>
                                    <input type="text" id="total" v-model="total">
                                </div>
                                <div>
                                    <label for="paid">Paid?</label>
                                    <input type="checkbox" id="paid" v-model="paid">
                                </div>
                                <div id="isPaid" v-show="paid">
                                    <label for="autopay">Autopay?</label>
                                    <input type="checkbox" id="autopay" v-model="autopay">
                                </div>
                                <div id="isNotPaid" v-show="!paid">
                                    <label for="validPayment">Valid Payment Method?</label>
                                    <input type="checkbox" id="validPayment" v-model="validPayment">
                                </div>
                            </section>
                            <button type="button" v-on:click="resetForm">Reset</button>
                        </form>
                    </div>
                    <div class="half">
                        <h2>Copy & Paste</h2>
                        <h3>Vietnamese</h3>
                        <div id="copyViet">
                            <div v-show="notifCategory == 'initialapp'">
                                <p>Chào {{clientGender}} {{clientName}}, Thuy Bell đã chọn bảo hiểm của {{clientGender}} cho năm 2021. Mỗi tháng trả ${{displayPremium}} cho {{company}}.</p>
                                <p v-show="!paid">
                                    {{company}} sẽ gửi thư cho {{clientGender}} trả tiền.
                                    <span v-show="!validPayment">
                                        Nếu {{clientGender}} muốn trả trên mạng gọi/tin nhắn Thuy Bell 727-280-4563.
                                    </span>
                                    <span v-show="validPayment">
                                        **Nếu {{clientGender}} có muốn Thuy Bell trả bằng thẻ nhà băng {{clientGender}} đã cho, trả lời "YES", hay gọi/nhắn tin Thuy Bell 727-280-4563.
                                    </span>
                                </p>
                                <p v-show="paid">
                                    {{capitalize(clientGender)}} đã trả tiền cho tháng đầu tiên (${{displayPremium}}) cho {{company}} bằng thẻ nhà băng {{clientGender}} đã cho.
                                    <span v-show="autopay">
                                        {{capitalize(clientGender)}} có Autopay, là tự động rút ${{displayPremium}} mỗi tháng.
                                    </span>
                                    <span v-show="!autopay">
                                        Mỗi tháng {{clientGender}} sẽ nhận thư cho ${{displayPremium}}. {{capitalize(clientGender)}} có trách nhiệm tự trả.
                                    </span>
                                </p>
                                <p v-show="Object.values(familyMembers[0].req_docs).includes(true)">
                                    QUAN TRỌNG: Để giữ giá nầy, bạn phải nhắn tin trước {{displayDueDate}} hình
                                    <span v-for="(member, index) in familyMembers">
                                        <span v-if="familyMembers.length > 1"><br/>{{index + 1}}) </span>
                                        {{filterReqDocs(member, 'VN')}} của
                                        <span v-if="familyMembers.length == 1 && familyMembers[0].name == ''">{{clientGender}}</span>
                                        <span v-else>{{member.name}}<span v-if="index < familyMembers.length-1">; </span></span>
                                    </span>.
                                </p>
                                <p>
                                    - Thuy Bell 727-280-4563
                                </p>
                            </div>
                            <div v-show="notifCategory == 'newdocs'">
                                Chào {{clientGender}} {{clientName}}, Obamacare của {{clientGender}} cần bổ sung thêm giấy tờ.
                                <span v-if="newdocsSsn">
                                    Thẻ SSN của <span v-if="newdocsName == ''">{{clientGender}}</span><span v-else>{{newdocsName}}</span> có câu "Valid for work only" nên họ sẽ không chấp nhận. <span v-if="newdocsName == ''">{{capitalize(clientGender)}}</span><span v-else>{{capitalize(newdocsGender)}} {{newdocsName}}</span> có khai thuế hay nhận W-2 không?
                                </span>
                                <span v-if="newdocsIncome">
                                    Lam ơn gửi giấy khai thuế năm nay, W-2, hay 1099.
                                </span>
                                <br/><br/>Nếu không gửi trước khì {{displayDueDate}}, giá bảo hiểm của {{clientGender}} sẽ tăng lên. Liên lạc Thuy Bell 727-280-4563. Cám ơn!
                            </div>
                            <div v-show="notifCategory == 'documents'">
                                Chào {{clientGender}} {{clientName}}, Obamacare của {{clientGender}} cần bổ sung thêm giấy tờ. Làm ơn nhắn tin hình
                                <span v-for="(member, index) in familyMembers">
                                    <span v-if="familyMembers.length > 1"><br/>{{index + 1}}) </span>
                                    {{filterReqDocs(member, 'VN')}} của
                                    <span v-if="familyMembers.length == 1 && familyMembers[0].name == ''">{{clientGender}}</span>
                                    <span v-else>{{member.name}}<span v-if="index < familyMembers.length-1">; </span></span>
                                </span>. <br/><br/>Nếu không gửi trước khì {{displayDueDate}}, giá bảo hiểm của {{clientGender}} sẽ tăng lên. Liên lạc Thuy Bell 727-280-4563. Cám ơn!
                            </div>
                            <div v-show="notifCategory == 'payment'">
                                <p v-show="!paid">
                                    Chào {{clientGender}} {{clientName}}, {{company}} chưa nhận được tiền {{clientGender}}<span v-show="!validPayment">, và Thuy Bell không xài được thẻ nhà băng {{clientGender}} (nếu {{clientGender}} đã cho)</span>. Nếu không trả trước khì ngày hạn chót, bảo hiểm của {{clientGender}} sẽ bị hủy bỏ.
                                    <br/><br/>Mỗi tháng trả: ${{displayPremium}}.
                                    <br/>{{capitalize(clientGender)}} nợ: 2 tháng, là ${{displayTotal}}.
                                    <br/>Ngày hạn chót: {{displayDueDate}}
                                    <span v-show="validPayment">
                                        <br/><br/>Nếu {{clientGender}} có muốn Thuy Bell trả bằng thẻ nhà băng {{clientGender}} đã cho, trả lời "YES", hay gọi/nhắn tin Thuy Bell 727-280-4563. Cám ơn!.
                                    </span>
                                    <span v-show="!validPayment">
                                        <br/><br/>Nếu {{clientGender}} có câu hỏi hay cần giúp, gọi/nhắn tin Thuy Bell 727-280-4563. Cám ơn!
                                    </span>
                                </p>
                                <p v-show="paid">
                                    Chào {{clientGender}} {{clientName}}, Thuy Bell đã trả tiền còn nợ (${{displayTotal}}) cho {{company}} bằng thẻ nhà băng {{clientGender}} đã cho.
                                    <span v-show="autopay">
                                        {{capitalize(clientGender)}} có Autopay, là tự động rút ${{displayPremium}} mỗi tháng. Nếu cần thay đổi gì hay bỏ hủy Autopay, thông báo Thuy liền cho tránh phí tiềm năng và mất bảo hiểm. Nếu {{clientGender}} có câu hỏi gọi/tin nhắn Thuy Bell 727-280-4563. Cám ơn!
                                    </span>
                                    <span v-show="!autopay">
                                        Mỗi tháng {{clientGender}} sẽ nhận thư cho ${{displayPremium}}. {{capitalize(clientGender)}} có trách nhiệm tự trả. Nếu {{clientGender}} muốn Autopay (tự động trả) hay có câu hỏi, gọi/tin nhắn Thuy Bell 727-280-4563. Cám ơn!
                                    </span>
                                </p>
                            </div>
                        </div>
                        <button type="submit" form="notifForm" class="copyButton" v-on:click="copyText(['copyViet'], $event)">Copy Viet</button>
                        <h3>English</h3>
                        <div id="copyEng">
                            <div v-show="notifCategory == 'initialapp'">
                                <p>Hi {{clientName}}, Thuy Bell has selected your new Obamacare plan for 2021. Your plan is with {{company}} and costs ${{displayPremium}} per month.</p>
                                <p v-show="!paid">
                                    {{company}} will send you a bill in the mail soon.
                                    <span v-show="!validPayment">
                                        If you would like to pay online, please call or text Thuy at 727-280-4563.
                                    </span>
                                    <span v-show="validPayment">
                                        **If you would like Thuy Bell to pay using your saved payment details, reply "YES" or call/text Thuy at 727-280-4563.
                                    </span>
                                </p>
                                <p v-show="paid">
                                    Your first month's bill (${{displayPremium}}) has been paid to {{company}} with the card details you provided us.
                                    <span v-show="autopay">
                                        We setup Autopay for you, which automatically charges your card ${{displayPremium}} every month.
                                    </span>
                                    <span v-show="!autopay">
                                        You are responsible for future bills of ${{displayPremium}} each month, which will arrive by mail.
                                    </span>
                                </p>
                                <p v-show="Object.values(familyMembers[0].req_docs).includes(true)">
                                    IMPORTANT: To keep your tax credit you must send us photos before {{displayDueDate}} of
                                    <span v-for="(member, index) in familyMembers">
                                        <span v-if="familyMembers.length > 1"><br/>{{index + 1}}) </span>
                                        <span v-if="familyMembers.length == 1 && familyMembers[0].name == ''">your</span>
                                        <span v-else>{{member.name}}'s </span>
                                        {{filterReqDocs(member, 'EN')}}<span v-if="index < familyMembers.length-1">; </span><span v-else>.</span>
                                    </span>
                                </p>
                                <p>
                                    - Thuy Bell 727-280-4563
                                </p>
                            </div>
                            <div v-show="notifCategory == 'newdocs'">
                                Hi {{clientName}}, we need more documents to verify your Obamacare.
                                <span v-if="newdocsSsn">
                                    <span v-if="newdocsName == ''">Your</span><span v-else>{{newdocsName}}'s</span> SSN card has the phrase "Valid for work only" so it has not been accepted. Please send us other documents containing the SSN and <span v-if="newdocsName == ''">your</span><span v-else>{{newdocsName}}'s</span> full name, such as a tax return or W-2.
                                </span>
                                <span v-if="newdocsIncome">
                                    Please send your most recent tax returns, W-2, or 1099s.
                                </span>
                                <br/><br/>If not sent before {{displayDueDate}}, your premium will increase. Contact Thuy Bell at 727-280-4563. Thank you!
                            </div>
                            <div v-show="notifCategory == 'documents'">
                                <p>Hi {{clientName}}, we need more documents to verify your Obamacare. Please send us photos of
                                    <span v-for="(member, index) in familyMembers">
                                        <span v-if="familyMembers.length > 1"><br/>{{index + 1}}) </span>
                                        <span v-if="familyMembers.length == 1 && familyMembers[0].name == ''">your</span>
                                        <span v-else>{{member.name}}'s </span>
                                        {{filterReqDocs(member, 'EN')}}<span v-if="index < familyMembers.length-1">; </span><span v-else>.</span>
                                    </span>
                                <br/><br/>If not sent before {{displayDueDate}}, your premium will increase. Contact Thuy Bell at 727-280-4563. Thank you!</p>
                            </div>
                            <div v-show="notifCategory == 'payment'">
                                <p v-show="!paid">
                                    Hi {{clientName}}, {{company}} has not received your premium payments yet<span v-show="!validPayment">, and your payment details (if given to Thuy Bell) are not valid</span>. If you do not pay by the due date, your policy will be cancelled.
                                    <br/><br/>Your monthly premium: ${{displayPremium}}.
                                    <br/>You owe: 2 months, or ${{displayTotal}}.
                                    <br/>Due by: {{displayDueDate}}
                                    <span v-show="validPayment">
                                        <br/><br/>**If you would like Thuy Bell to pay using your saved payment details, reply "YES" or call/text Thuy at 727-280-4563. Thank you!
                                    </span>
                                    <span v-show="!validPayment">
                                        <br/><br/>If you have questions or need help please call/text Thuy Bell at 727-280-4563. Thank you!
                                    </span>
                                </p>
                                <p v-show="paid">
                                    Hi {{clientName}}, Thuy Bell has paid your owed premiums (${{displayTotal}}) to {{company}} with the card details you provided us.
                                    <span v-show="autopay">
                                        We setup Autopay for you, which automatically charges your card ${{displayPremium}} every month. If you need to make changes or cancel Autopay, notify Thuy immediately to avoid potential fees and loss of insurance. If you have any questions, please call/text Thuy Bell at 727-280-4563. Thank you!`
                                    </span>
                                    <span v-show="!autopay">
                                        You are responsible for future bills of ${{displayPremium}} each month, which will arrive by mail. If you want to setup Autopay or have any questions, please call/text Thuy Bell at 727-280-4563. Thank you!
                                    </span>
                                </p>
                            </div>
                        </div>
                        <button type="submit" form="notifForm" class="copyButton" v-on:click="copyText(['copyEng'], $event)">Copy Eng</button>
                        <h3>Both</h3>
                        <button type="submit" form="notifForm" class="copyButton" v-on:click="copyText(['copyViet', 'copyEng'], $event)">Copy Both</button>
                    </div>
                </div>
            </div>
        </main>
        <script src="vue.js"></script>
        <script src="components.js"></script>
    </body>
</html>