<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Notification Generator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <main>
            <h1>Notifiication Generator</h1>
            <div id="app">
                <div class="halfBox">
                    <div class="half">
                        <h2>Form</h2>
                        <form id="notifForm">
                            <div>
                                <fieldset>
                                    <legend>Notification Type:</legend>
                                    <div>
                                        <input type="radio" id="documents" value="documents" v-model="formValues.notifType">
                                        <label for="documents">Missing Documents</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="payment" value="payment" v-model="formValues.notifType">
                                        <label for="payment">Missing Payment</label>
                                    </div>
                                </fieldset>
                            </div>
                            <!-- GLOBAL FORM SECTION-->
                            <section id="sectionGlobal">
                                <fieldset>
                                    <legend>Client Info</legend>
                                    <div>
                                        <label for="clientName">Client Name:</label>
                                        <input type="text" id="clientName" required v-model="formValues.clientName">
                                    </div>
                                    <div>
                                        <fieldset>
                                            <legend>Client Gender:</legend>
                                            <div>
                                                <input checked type="radio" id="female" value="chị" v-model="formValues.clientGender">
                                                <label for="female">Female</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="male" value="anh" v-model="formValues.clientGender">
                                                <label for="male">Male</label>
                                            </div>
                                        </fieldset>
                                        <div>
                                            <label for="dueDate">Due Date:</label>
                                            <input type="date" id="dueDate" v-model="formValues.dueDate" value="dueDate" required>
                                        </div>
                                    </div>
                                </fieldset>
                            </section>
                            <!-- MISSING DOCUMENTS FORM SECTION-->
                            <section id="sectionDocs" v-show="notifType === 'documents'">
                                <div>
                                    <!--- TURN INTO TEMPLATE -->
                                    <fieldset id="member1" class="memberInfo">
                                        <legend>Missing Member 1:</legend>
                                        <div>
                                            <label for="member1_name">Name:</label>
                                            <input type="text" name="member1_name" id="member1_name">
                                        </div>
                                        <fieldset>
                                            <legend>Documents:</legend>
                                            <div>
                                                <input name="member1_docs" type="checkbox" id="member1_income" value="income"><label for="member1_income">Income</label>
                                            </div>
                                            <div>
                                                <input name="member1_docs" type="checkbox" id="member1_ssn" value="SSN"><label for="member1_ssn">SSN</label>
                                            </div>
                                            <div>
                                                <input name="member1_docs" type="checkbox" id="member1_citizenship" value="Naturalization Certificate"><label for="member1_citizenship">Naturalization Certificate</label>
                                            </div>
                                            <div>
                                                <input name="member1_docs" type="checkbox" id="member1_greencard" value="greencard"><label for="member1_greencard">Greencard</label>
                                            </div>
                                            <div>
                                                <input name="member1_docs" type="checkbox" id="member1_letter" value="health coverage letter"><label for="member1_letter">Health Coverage Letter</label>
                                            </div>
                                        </fieldset>
                                    </fieldset>
                                    <button type="button" id="addMemberButton">+ Add Member</button>
                                </div>
                            </section>
                            <!-- MISSING PAYMENT FORM SECTION-->
                            <section id="sectionPayment" v-show="notifType === 'payment'">
                                <div>
                                    <fieldset>
                                        <legend>Company:</legend>
                                        <div>
                                            <input type="radio" id="ambetter" value="Ambetter">
                                            <label for="ambetter">Ambetter</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="brighthealth" value="Bright Health" required>
                                            <label for="brighthealth">Bright Health</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="oscar" value="Oscar Insurance" required>
                                            <label for="oscar">Oscar</label>
                                        </div>
                                    </fieldset>
                                </div>
                                <div>
                                    <label for="premium">Monthly Premium:</label>
                                    <input type="text" id="premium" v-model="formValues.premium" required>
                                </div>
                                <div>
                                    <label for="total">Total Owed:</label>
                                    <input type="text" id="total" v-model="formValues.total">
                                </div>
                                <div>
                                    <label for="paid">Paid?</label>
                                    <input type="checkbox" id="paid" v-model="formValues.paid">
                                </div>
                                <div id="isPaid">
                                    <label for="autopay">Autopay?</label>
                                    <input type="checkbox" id="autopay" v-model="formValues.autopay">
                                </div>
                                <div id="isNotPaid">
                                    <label for="validPayment">Was payment Valid?</label>
                                    <input type="checkbox" id="validPayment" v-model="formValues.validPayment">
                                </div>
                            </section>
                            <button type="submit" id="submitButton">Submit</button>
                        </form>
                    </div>
                    <div class="half">
                        <h2>Copy & Paste</h2>
                        <h3>Vietnamese</h3>
                        <notification v-bind:client-name="formValues" />
                        <p>Chào ${clientGender} {{clientName}}, ${company} chưa nhận được tiền ${clientGender}, và Thuy Bell không xài được thẻ nhà băng ${clientGender} (nếu ${clientGender} đã cho). Nếu không trả trước khì ngày hạn chót, bảo hiểm của ${clientGender} sẽ bị hủy bỏ.
                            Mỗi tháng trả: $${premium}.
                            ${capitalize(clientGender)} nợ: 2 tháng, là $${total}.
                            Ngày hạn chót: ${dueDate}
                        Nếu ${clientGender} có câu hỏi hay cần giúp, gọi/nhắn tin Thuy Bell 727-280-4563. Cám ơn!</p>
                        <button type="button" id="copyVietButton" class="copyButton">Copy Text</button>
                        <div id="copyViet"></div>
                        <h3>English</h3>
                        <p>Hi {{clientName}}, ${company} has not received your premium payments yet, and your payment details (if given to Thuy Bell) are not valid. If you do not pay by the due date, your policy will be cancelled.
                            Your monthly premium: $${premium}.
                            You owe: 2 months, or $${total}.
                            Due by: ${dueDate}
                        If you have questions or need help please call/text Thuy Bell at 727-280-4563. Thank you!</p>
                        <button type="button" id="copyEngButton" class="copyButton">Copy Text</button>
                        <div id="copyEng"></div>
                        <h3>Both</h3>
                        <button type="button" id="copyBothButton" class="copyButton">Copy Text</button>
                        <div id="copyBoth"></div>
                    </div>
                </div>
            </div>
        </main>
        <script src="vue.js"></script>
        <script src="components.js"></script>
    </body>
</html>